src/main/mule/githubproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1bab1a49-721d-4160-b09e-6a6d9b12c7d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubprojectFlow" doc:id="65cae365-7508-4729-bbad-be3c761ba572" >
		<http:listener doc:name="Listener" doc:id="ff3c7cd8-cf52-4dde-b560-55e28b51308e" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="68a0bfb3-0d28-4eed-aa28-035d76eb9723" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"happy new year 2022"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="098b9651-a3d0-496b-8f58-a3053160cfd7" message="#[payload]"/>
	</flow>
</mule>
